pipeline/execute_pl_processed_data_for_race_results.json
{
	"name": "execute_pl_processed_data_for_race_results",
	"properties": {
		"activities": [
			{
				"name": "query_processing",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "INSERT INTO public.project_logs\n(job_id, job_name, task_name, status)\nVALUES('@{formatDateTime(variables('pl_window_date'), 'yyyyMMddHHmmss')}', 'Execute_process_pl', 'pl_process_race_results', 'Processing');\nSELECT * FROM public.project_logs;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_project_logs_postgre_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "query_succeed",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "pl_process_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "UPDATE public.project_logs\nSET status = 'Succeed'\nWHERE job_id = '@{formatDateTime(variables('pl_window_date'), 'yyyyMMddHHmmss')}';\nSELECT * FROM public.project_logs;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_project_logs_postgre_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "pl_process_data",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "query_processing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_processed_data_for_race_results",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_window_date",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For_itemName",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "file_list_var",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('file_name_list')",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "Validation1",
							"type": "Validation",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_raw_validation",
									"type": "DatasetReference",
									"parameters": {
										"item_name": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								"timeout": "0.12:00:00",
								"sleep": 10
							}
						}
					]
				}
			},
			{
				"name": "file_list_var",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_name_list",
					"value": {
						"value": "['circuits', 'constructor', 'Drivers', 'races', 'results']",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"date": {
				"type": "String"
			},
			"pl_window_date": {
				"type": "String"
			},
			"file_name_list": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "project formula 1/Execute"
		},
		"annotations": []
	}
}