pipeline/pl_api_data_injestion.json
{
	"name": "pl_api_data_injestion",
	"properties": {
		"activities": [
			{
				"name": "Lookup_seasons_data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_season_file",
						"type": "DatasetReference",
						"parameters": {
							"dataset": {
								"value": "@pipeline().parameters.datset_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ForEach_year",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_seasons_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_seasons_data').output.firstRow.MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_data_as_per_year",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_ergast_races",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@item().season",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_f1_files",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@item().season",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"datset_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "formula1_project"
		},
		"annotations": []
	}
}