pipeline/pl_data_ingestion.json
{
	"name": "pl_data_ingestion",
	"properties": {
		"activities": [
			{
				"name": "act_If_folder_exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "act_get_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('act_get_metadata').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "act_ingest_data",
							"description": "This notebook injest data of circuits, qualifying, constructor, results, races, drivers, qualifying.",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula1-project2/injestion/1.Injest_all_files",
								"baseParameters": {
									"data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_workspace",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "act_get_metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_for_realtime_scenarios_adlsgentwo",
						"type": "DatasetReference"
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			}
		],
		"parameters": {
			"p_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_data_source": {
				"type": "String",
				"defaultValue": "ErgastAPI"
			}
		},
		"annotations": []
	}
}