pipeline/pl_ecexute_driverStanding.json
{
	"name": "pl_ecexute_driverStanding",
	"properties": {
		"activities": [
			{
				"name": "current date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "date",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "pl_processed_driverStanding",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "query processing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_processed_driverStanding",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "query processing",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "current date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "INSERT INTO public.project_logs\n(job_id, job_name, task_name, status)\nVALUES('@{formatDateTime(variables('date'), 'yyyyMMddHHmmss')}', 'pl_execute', 'pl_process_driverStanding_data', 'Processing');\nSELECT * FROM public.project_logs;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_project_logs_postgre_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "query succeed",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "pl_processed_driverStanding",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update public.project_logs set status ='success' where job_id = '@{formatDateTime(variables('date'),'yyyyMMddHHmmss')}' and task_name ='pl_process_driverStanding_data';\n\nselect * from public.project_logs",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_project_logs_postgre_sql",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "project formula 1/Execute"
		},
		"annotations": []
	}
}