pipeline/pl_results_ingestion.json
{
	"name": "pl_results_ingestion",
	"properties": {
		"activities": [
			{
				"name": "ForEach_count_year",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web_races",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web_races').output.MRData.RaceTable.Races",
						"type": "Expression"
					},
					"batchCount": 15,
					"activities": [
						{
							"name": "Web_results_data",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://ergast.com/api/f1/', item().season, '/', item().round, '/','results.json')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "web_act_op_variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web_results_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "web_op",
								"value": {
									"value": "@{activity('Web_results_data').output}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_results_data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "web_act_op_variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			},
			{
				"name": "Web_races",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/races.json?limit=1000"
				}
			}
		],
		"variables": {
			"season_lst": {
				"type": "Array"
			},
			"web_op": {
				"type": "String"
			},
			"web_op_1": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "project formula 1"
		},
		"annotations": []
	}
}