pipeline/pl_raw_results_ingestion.json
{
	"name": "pl_raw_results_ingestion",
	"properties": {
		"activities": [
			{
				"name": "ForEach_count_year",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web_races",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web_races').output.MRData.RaceTable.Races",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "copy_results",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_races_http",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat('api/f1/', item().season, '/', item().round, '/','results.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_race_results_raw",
									"type": "DatasetReference",
									"parameters": {
										"season": {
											"value": "@item().season",
											"type": "Expression"
										},
										"round": {
											"value": "@item().round",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Web_races",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/races.json?limit=1000"
				}
			}
		],
		"variables": {
			"season_lst": {
				"type": "Array"
			},
			"web_op": {
				"type": "String"
			},
			"web_op_1": {
				"type": "Array"
			},
			"web_op_results": {
				"type": "String"
			}
		},
		"folder": {
			"name": "project formula 1/raw"
		},
		"annotations": []
	}
}