pipeline/pl_raw_qualifying_data_ingestion.json
{
	"name": "pl_raw_qualifying_data_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Web_races",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Validation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/races.json?limit=1000"
				}
			},
			{
				"name": "ForEach_season_round",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web_races",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web_races').output.MRData.RaceTable.Races",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_qualifying_raw_http",
									"type": "DatasetReference",
									"parameters": {
										"season": {
											"value": "@item().season",
											"type": "Expression"
										},
										"round": {
											"value": "@item().round",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_raw_qualifying",
									"type": "DatasetReference",
									"parameters": {
										"season": {
											"value": "@item().season",
											"type": "Expression"
										},
										"round": {
											"value": "@item().round",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Validation",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_raw_results_validation",
						"type": "DatasetReference"
					},
					"timeout": "0.00:01:00",
					"sleep": 10
				}
			}
		],
		"variables": {
			"date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "project formula 1/raw"
		},
		"annotations": []
	}
}