pipeline/pl_results_ingestion.json
{
	"name": "pl_results_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Lookup_races",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_races_sink",
						"type": "DatasetReference",
						"parameters": {
							"year": {
								"value": "@pipeline().parameters.year",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ForEach_count_year",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_races",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_races').output.firstRow.RaceTable.Races",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Web_results_data",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://ergast.com/api/f1/', item().season, '/', item().round, 'results.json')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "web_act_op_variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web_results_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "web_op",
								"value": {
									"value": "@{activity('Web_results_data').output.MRData}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_results_data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "web_act_op_variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "my_column",
											"value": {
												"value": "@variables('web_op')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "my_column",
												"type": "String"
											},
											"sink": {
												"name": "Column2",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_temprarory_file",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_results_sink",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@item().season",
											"type": "Expression"
										},
										"round": {
											"value": "@item().round",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"year": {
				"type": "string"
			}
		},
		"variables": {
			"season_lst": {
				"type": "Array"
			},
			"web_op": {
				"type": "String"
			}
		},
		"folder": {
			"name": "project formula 1"
		},
		"annotations": []
	}
}