pipeline/pl_schedule_races.json
{
	"name": "pl_schedule_races",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_seasons_data",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach_year",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.firstRow.MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web_races",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://ergast.com/api/f1/', item().season,'.json')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_schedule_races",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "act_var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "api",
											"value": {
												"value": "@{variables('web_op')}",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_temp_file",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_schedule_races_sink",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@item().season",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "act_var",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web_races",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "web_op",
								"value": {
									"value": "@{activity('Web_races').output}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"web_op": {
				"type": "String"
			}
		},
		"folder": {
			"name": "formula_1"
		},
		"annotations": []
	}
}